<!DOCTYPE html>
<html>
  <head>
    <title>Streaming WebRTC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  </head>  <body>
    <h1>Streaming WebRTC</h1>
    <video id="video" autoplay playsinline></video>
    <script>
      const video = document.getElementById('video')
      const socket = io()
      
      socket.on('video_frame', (frame) => {
        const img = new Image()
        img.src = 'data:image/jpeg;base64,' + frame
        img.onload = () => {
          video.srcObject = img
        }
      })
        socket.on('connect', () => {
        console.log('Terhubung ke server')
      })
      
      socket.on('disconnect', () => {
        console.log('Terputus dari server')
      })
    </script>
  </body>
</html>
